@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca",sans-serif;
}
html{
  font-size: 62.5%;
}
body{
  background-color: #0d192b;
}
a{
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
}
section{
  width: 80%;
  margin: 0 auto;
}
.search-input{
  width: 100%;
  margin: 5rem auto 0 auto;
  text-align: center;
}
input{
  width: 25rem;
  height: 5rem;
  border: #81a7e0 solid 0.4rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  margin-right: 2rem;
}

button{
  padding: 1rem 2.4rem;
  font-size: 1.6rem;
}
.main_container{
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
  padding: 6rem 0;
  justify-content: center;
}

.card{
  min-width: 20rem;
  min-height: 20rem;
  background-color: #14253d;
  padding: 1rem;
  border-radius: 1rem;
  transition:all 0.3s linear;

  &:hover{
    transform: translateY(-2rem);
    box-shadow: rgba(224,222,233,0.15) 0px 48px 100px 0px;
  }
}

img{
  min-width: 100%;
  width: 22rem;
  height: auto;
  border-radius: 1rem;
}

.username{
  padding-top: 1rem;
  color: #fff;
}

hr{
  height: 0.01rem;
  border: 0.1rem solid white;
}

.card-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0 0 0;
}

.card-footer img{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 0.2rem solid whitr;
}

.empty-msg{
  width: 100%;
  text-align: center;
  font-style: 2rem;
  color: #fff;
}